<template lang="html">
  <div class="left-sidenav">
    <md-toolbar>
      <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
        <md-icon>menu</md-icon>
      </md-button>
      <h2 class="md-title">Homework 2</h2>
    </md-toolbar>
    <md-sidenav class="md-left" ref="leftSidenav">
      <md-toolbar class="md-large">
        <div class="md-toolbar-container">
          <h3 class="md-title">Sidenav content </h3>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item class="md-raised md-primary" @click.native="indexPost">
          <md-icon>send</md-icon> <span>Index</span>
        </md-list-item>

        <md-list-item class="md-raised md-primary" @click.native="newPost">
          <md-icon>send</md-icon> <span>New</span>
        </md-list-item>

        <md-list-item class="md-raised md-primary" @click.native="logout">
          <md-icon>send</md-icon> <span>Logout</span>
        </md-list-item>
      </md-list>
      <md-button class="md-raised md-accent" @click.native="closeLeftSidenav">Close</md-button>
    </md-sidenav>
  </div>
</template>

<script>
export default {
  methods: {
    toggleLeftSidenav () {
      this.$refs.leftSidenav.toggle()
    },
    closeLeftSidenav () {
      this.$refs.leftSidenav.close()
    },
    indexPost () {
      this.$router.push({ name: 'Posts.index' })
    },
    newPost () {
      this.$router.push({ name: 'Posts.new' })
    },
    logout () {
      this.$router.push({ name: 'Users.sign_in' })
    }
  }
}
</script>

<style lang="css">
</style>
